@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.loading-bmw-spinner {
  border-radius: 50%;
  background-image: url(bmw-logo-683.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px;
  aspect-ratio: 1/1;
  width: 160px;
  animation: spin 3s infinite linear;
  -webkit-animation: spin 3s infinite linear;
  -moz-animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}

.loading-spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: rgba(43, 43, 43, 0.3);
  opacity: 0;
  transition: opacity .8s ease-in-out; */
  /* touch-action: none; */
}

.outline-red,
.outline-light-blue,
.outline-dark-blue {
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outline-red {
  border-color: #545454;
  width: 220px;
  height: 220px;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
}

.outline-light-blue {
  border-color: #808080;
  width: 200px;
  height: 200px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  animation: spin 1.5s infinite linear;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
}

.outline-dark-blue {
  border-color: #efece7;
  width: 180px;
  height: 180px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
}